* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 8px 16px;
  width: 78vw;
  float: right;
  background-color: whitesmoke;
}

aside {
  position: relative;
  padding: 8px 16px;
  margin: 0;
  width: 20vw;
  height: auto;
  float: right;

  dt {
    font-weight: bold;
  }

  dd {
    padding: 0 10px;
  }
}

footer {
  padding: 1vw;
}

.clearfix {
  clear: both;
}

/* responsive design */
.topnav {
  font-family: "Architects Daughter", cursive;
  overflow: hidden;
  background-color: #b2d732;
  width: 20vw;
  float: left;
}

.topnav a {
  display: block;
  color: #c04402;
  text-align: left;
  padding: 10px;
  text-decoration: none;
  font-size: 3vw;
}

.topnav a:hover {
  color: #f0f7d4;
  background-color: #092834;
}

.topnav a.active {
  color: #2e6c85;
  background-color: whitesmoke;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1070px) {
  .topnav {
    width: 100%;
  }

  .topnav a {
    float: left;
    display: block;
    color: #c04402;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 3vw;
  }

  main {
    width: 100%;
  }

  .gallery-container {
    width: 46vw;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .gallery-container {
    width: 100%;
  }

  .gallery-grid {
    display: flex;
    flex-direction: column;
  }
}